body{
    font-family: 'Montserrat', sans-serif;
}
#backButton{
    color: black;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background: none;
    margin-bottom: 0;
    font-weight: 700;
    border: none;
}

#diventaMembroTitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
#lineDecor{
    width: 90%;
    height: 20px;
    border-bottom: solid 2px gray;
    margin: auto;
}
#orariTitle{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

h5{
    font-weight: 500;
    font-size: 20px;
    margin-left: 5%;
}
strong{
    font-weight: 550;
}

#button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#firstButton{
    -webkit-appearance: none;
    font-size: 18px;
    padding: 15px 0;
    width: 80%;
    background: none;
    color: black;
    border: solid 1px black;
    border-radius: 40px;
    margin-bottom: 80px;
}




#footContainer{
    display: flex;
    flex-direction: column;
    border-top:solid 1px gray;
}
#footTitle{
    margin-left: 20px;
    font-size: 30px;
}
.footClass{
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-left: 20px;
}
.infoFooter{
    margin: 0 20px 10px 20px;
}
#phoneNumber{
    color: black;
    text-decoration: none;
}
#socialFooterText{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
#socialFotos{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.socialFotosIcons{
    width: 50px;
}