body{
    background: linear-gradient(to bottom, rgb(8, 4, 0),rgb(146, 36, 205) )
}

h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-bottom: 20px;
    border-bottom: solid 2px white;
}
p{
    color: white;
    text-align: center;
}
img{
    width: 10vw;
    height: 10vh;
}

#cardsContainer{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.cards{
    background-image: url(cartaBack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    background-color: white;
    width: 22vw;
    height: 80%;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d
}

.cards:hover{
    transform: scale(1.02);
    transition: transform 0.3s, background-color 0.3s;
}

.cards.active.correct{
    background-color: white;
    transform: rotateY(180deg) scale(1.03);
    border: none;
    transition: filter 0.5s ease;
    filter: opacity(50%);
}

.frontFace{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.backFace{
    position: absolute;
    backface-visibility: hidden;
}
.cards.active{
    background-image: none;
    background: linear-gradient(to bottom, white, gray);
    background-color: #ededed;
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
}


