body{
    font-family: 'Montserrat', sans-serif;
}
#backButton{
    color: black;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background: none;
    margin-bottom: 0;
    font-weight: 700;
    border: none;
}

#diventaMembroTitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
#lineDecor{
    width: 90%;
    height: 20px;
    border-bottom: solid 2px gray;
    margin: auto;
}
#abbonamentiTitle{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
}
#buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
.buttonsAbbonamenti{
    width: 200px;
    -webkit-appearance: none;
    color: black;
    pad: 10px 20px;
    border: solid 1px black;
    border-radius: 40px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
}

#pricesButton{
    color: white;
    background-color: black;
}


#footContainer{
    display: flex;
    flex-direction: column;
    border-top:solid 1px gray;
}
#footTitle{
    margin-left: 20px;
    font-size: 30px;
}
.footClass{
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-left: 20px;
}
.infoFooter{
    margin: 0 20px 10px 20px;
}
#phoneNumber{
    color: black;
    text-decoration: none;
}
#socialFooterText{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
#socialFotos{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.socialFotosIcons{
    width: 50px;
}