#percheP{
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.carousel {
    position: relative;
    max-width: 90%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;  
    width: 100%;
}

.carousel-item {
  flex: 0 0 100%; /* cada slide ocupa exactamente un espacio */
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 400px;       
    object-fit: cover;   
    object-position: center;
    display: block;
    border-radius: 20px;
}

/* Indicadores (pueden quedar encima o debajo) */
.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.carousel-indicators span {
    display: block;
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    transition: width 0.3s ease;
}

.carousel-indicators span.active {
    transition: width 0.3s ease;
    background: rgba(0,0,0,0.8);
    width: 10px;
    height: 10px;
}

/* Controles abajo de la imagen */
.carousel-controls {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 5px; /* espacio entre la imagen y los botones */
}

.carousel-control {
    color: black;
    border: solid 1px black;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
}
