#footContainer{
    display: flex;
    flex-direction: column;
    border-top:solid 1px gray;
}
#footTitle{
    margin-left: 20px;
    font-size: 30px;
}
.footClass{
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-left: 20px;
}
.infoFooter{
    margin: 0 20px 10px 20px;
}
#phoneNumber{
    color: black;
    text-decoration: none;
}
#socialFooterText{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
#socialFotos{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.socialFotosIcons{
    width: 50px;
}